body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.display {
    margin-bottom: 20px;
}

#display {
    width: calc(100% - 40px);
    padding: 10px;
    font-size: 2em;
    border: none;
    text-align: right;
    background: #f0f0f0;
    box-sizing: border-box;
    border-radius: 5px;
    border-bottom: 4px solid #4CAF50;
    color: #4CAF50;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-align: center;
}

button {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #4CAF50;
    color: #fff;
    transition: background 0.3s, color 0.3s;
}

button:hover {
    background: #45a049;
}

button:active {
    transform: translateY(2px);
}

.operator {
    background: #ff5722;
}

.equal {
    grid-column: span 2;
    background: #ff5722;
}

.dot {
    background: #2196f3;
}

.clear {
    background: #f44336;
}
